<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Страница не найдена</title>
    <META NAME="keywords" CONTENT="ошибка">
    <META NAME="description" CONTENT="Страница не найдена">
</head>
<body>

<H2 style="font-size: 60px; font-weight: bold; text-align: center;">404 - СТРАНИЦА НЕ НАЙДЕНА</H2>

<table align="center">
    <tr>
        <td>
            <img style="margin-left: 50px" src="{% static 'img/detective.jpg' %}" alt="Изображение сыщика">
        </td>
        <td>
            <div style="font-size: 30px; margin-left: 100px ">

                На ее поиски был вызван лучший сыщик.<br>
                Он ее обязательно найдет, где бы она не была.<br>
                А пока вы можете перейти на <a href="/NamesByCalendar/">главную страницу сайта</a>.

            </div>
        </td>
    </tr>
</table>

</body>
</html>