<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>О разработчике сайта</title>
    <META NAME="keywords" CONTENT="hCard разработчик сайт www.svyatsy.site">
    <META NAME="description" CONTENT="Данные о разработчике сайта www.svyatsy.site в формате hCard">
    <script type="text/javascript" src="https://vk.com/js/api/share.js?95" charset="windows-1251"></script>
</head>
<div>

{% include "ceiling.html" %}

<br>
<br>

Сайт позволяет выбрать имя два вашего ребенка согласно православному календарю.
<br>
<br>

<div class="vcard">
    <div>
        <span class="category">Web разработчик</span>
        <span class="fn">Нарваев-Иванов И. В.</span>
    </div>
    <div class="adr">
        <span class="locality">г. Омск</span>,
        <span class="street-address">улица Ленина, дом 1, квартира 1</span>
    </div>
    <div>Телефон: <span class="tel">+7 (123) 123-45-67</span></div>
    <span class="url">
     <span class="value-title" title="http://www.svyatsy.site"> </span>
   </span>
</div>
<div>Email: <span class="email">webmaster@svyatsy.site</span></div>

<br>
Сайт является частью курсовой работы по дисциплине Web-программирование.
<br>
Исходный код сайта можно найти в репозитории на github: <a href="https://github.com/igor-niv/svyatsy">github.com/igor-niv/svyatsy</a>
<br>
<br>
Имена и их значения взяты с сайта <a href="http://www.detskiysad.ru">www.detskiysad.ru</a>
<br>
<br>
<br>
<script type="text/javascript">
    document.write(VK.Share.button(false,{type: "round", text: "Рассказать о сайте друзьям"}));
</script>

{% include "floor.html" %}

</body>
</html>