<div class="w-nav w-nav-top">
    <div class="row-fluid">
        <div id="nav" class="wrapper">
            <br>
            <div class="site-caption">ПРАВОСЛАВНЫЙ КАЛЕНДАРЬ ИМЕН</div>
            <div align="right">
                <form action="/search" method="get">
                  <!--  {%  csrf_token %} -->
                    <input name="s" placeholder="Поиск имени..." type="search" style="margin-bottom: 10px">
                    <button type="submit">Поиск</button>
                </form>
            </div>

        </div>
    </div>
</div>
<a class="links_in_menu" href="/NamesByCalendar">| Календарь имени |</a>
<a class="links_in_menu" href="/NamesByAbc">Алфавитный список имен | </a>
<a class="links_in_menu" href="/AllNames">Полный список имен | </a>
<a class="links_in_menu" href="/About">О проекте | </a>

<span style="margin-top: 0; padding-top: 0; float: right" >
<a class="links_in_menu" href="https://omgtu.ru/general_information/faculties/faculty_of_information_technology_and_computer_systems/department_of_automated_systems_of_information_processing_and_management">АСОиУ ОмГТУ</a>
</span>

<br>